<label>
  <input type="text" [(ngModel)]="serverName">
</label>
<!--<p>{{serverName}}</p>-->
<button class="btn btn-primary" [disabled]="!allowAddServer" (click)="onServerCreation()"> Add Server </button>
<p *ngIf="serverCreated">server got created!! server name is {{serverName}}</p>
<!--ngIf else.. need to use ng-template which marks places in the DOM-->
<!--<p *ngIf="serverCreated; else noServer">server got created!! server name is {{serverName}}</p>-->
<!--<ng-template #noServer>-->
<!--  <p>No server was created</p>-->
<!--</ng-template>-->

<p [innerText]="allowAddServer"></p>
<!--<p>{{serverCreation}}</p>-->
<p>servers works!</p>
<!--<app-servers *ngFor="let server of machines"></app-servers>-->
